<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ijumboapp"
    android:versionCode="3"
    android:versionName="2.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ijumboapp.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ijumboapp.EventsActivity"
            android:label="@string/title_activity_events" >
        </activity>
        <activity
            android:name="com.ijumboapp.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.ijumboapp.JoeyTableActivity"
            android:label="@string/title_activity_joey_table" >
        </activity>
        <activity
            android:name="com.ijumboapp.WebActivity"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name="com.ijumboapp.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.ijumboapp.LinksActivity"
            android:label="@string/title_activity_links" >
        </activity>
        <activity
            android:name="com.ijumboapp.MapViewActivity"
            android:label="@string/title_activity_map_view" >
        </activity>
        <activity
            android:name="com.ijumboapp.FoodView"
            android:label="@string/title_activity_food"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ijumboapp.PlacesActivity"
            android:label="@string/title_activity_places" >
        </activity>
        <activity
            android:name="com.ijumboapp.EventView"
            android:label="@string/title_activity_event_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ijumboapp.PlaceView"
            android:label="@string/title_activity_place_view"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Parse stuff -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ijumboapp.IJumboActivity"
            android:label="@string/title_activity_ijumbo" >
        </activity>
        <activity
            android:name="com.ijumboapp.MyFoodActivity"
            android:label="@string/title_activity_my_food" >
        </activity>
    </application>

</manifest>